<div class="well text-center">
  <h3><span class="glyphicon glyphicon-info-sign"></span> <%= data[:result] %>% d'abandons</h3>
  
  <p><%= (data[:places].length > 0) ? "Les lieux d'abandons" : "Aucun lieux d'abandons" %></p>
  

  <div class="row">
	<% data[:places].each do |x|  %>
        <div class="col-md-3">
          <span class="label label-default"><%= x %></span>
        </div>
    <% end  %>
  </div>
</div>