
<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= name %></h3>
  </div>
  <div class="panel-body">
    <%= content_tag "div", div_options do %>
        <svg></svg>
  <% end %>
  </div>
</div>

<script>
  var data = <%= data %>;
  var id = "<%= div_options[:id] %>"
  chart = new Chart(data, id).pieChart();
</script>
