
<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= pie_name %></h3>
  </div>
  <div class="panel-body">
    <%= content_tag "div", div_options do %>
        <svg></svg>

  <% end %>
  </div>
</div>

<script>
  var pie_data = "<%= pie_data %>";
  var id = "<%= div_options[:id] %>"
  chart = new Chart(pie_data, id).pieChart();
</script>
